# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
frontend/node_modules/

# Build and Production folders
dist/
build/
dist-ssr/

# Environment files
.env
.env.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
